<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="product-content product-form">
        <form method="POST" action="" class="bg-dark" enctype='multipart/form-data'>

        <div class="form-group">
          <label for="image">Add test image:</label>
          <input 
          class="form-control" 
          id="image" 
          type="file"
          name="image" 
          required="true"
          />
        </div>
            

          <button type="submit">Submit</button>
        </form>
    </div>
  </body>
</html>